body {
    margin: 0px;
    font-family: Cantarell, Calibri, sans-serif;
    background-color: white;
}

header {
    text-align: center;
    width: 100%;
    border-bottom: thin solid #ddd;
}

ul {
    list-style: circle;
}

#header-content {
    padding: 0.4em 0;
    background: url("logo.svg") no-repeat center left;
    width: 100%;
    max-width: 42em;
    margin: auto;
}

#header-content a {
    text-decoration: none;
    color: black;
    font-size: 120%;
    padding: 0.4em 1em;
}

#header-content a:hover {
    background-color: #eee;
}

#main {
    padding: 10px;
    margin: 0 auto;
    max-width: 42em;
    width: 100%;
    box-sizing: border-box;
}

#main h1 {
    font-size: 150%;
    color: #603;
}

#main h2 {
    font-size: 100%;
    font-weight: bold;
}

#main h3 {
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
}

#main a {
    text-decoration: none;
}

#main a:hover {
    text-decoration: underline;
}

#main span.notes-additional {
    color: #444;
}

#main span.notes-item-unready {
    font-weight: bold;
    color: #666;
}

#main span.notes-item-old {
    font-weight: normal;
    color: #666;
}

#main span.notes-item-old a,
#main span.notes-item-unready a {
    color: #5f5ff4;
    font-weight: normal;
}

#main span.notes-item-old a:visited,
#main span.notes-item-unready a:visited {
    color: #946fb6;
    font-weight: normal;
}

#main span.notes-item-old span.notes-additional,
#main span.notes-item-unready span.notes-additional {
    color: #8a8a8a;
    font-weight: normal;
}

#main a.hidden, #main a.hidden:hover {
    text-decoration: none;
    color: inherit;
}

.maths {
    font-style: italic;
}

.error {
    color: #400;
    font-size: 150%;
}

.error-header {
    color: #b00;
    font-weight: bold;
    font-size: 200%;
}

@media (max-width: 40em){
    #main span.notes-additional {
        display: none;
    }

    header {
        border-bottom: medium solid #ddd;
    }
    #header-content {
        background: none;
    }
    #header-content a {
        font-size: 110%;
        padding: 0.4em 0.9em;
    }
}

ul.disp-toc {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.disp-toc li{
    margin-top: 1.2em;
}
ul.disp-toc-sub {
    list-style-type: none;
}

ul.disp-toc-sub li{
    margin-top: 0.6em;
}
div.disp-header {
    font-style: italic;
}
p.disp-header-left {
    float: left;
    margin-bottom: 0px;
}
p.disp-header-right {
    float: right;
    margin-bottom: 0px;
}
p.disp-nav-left {
    float: left;
    text-align: left;
    width: 33.3333%
}
p.disp-nav-center {
    float: left;
    text-align: center;
    width: 33.3333%
}
p.disp-nav-right {
    float: left;
    text-align: right;
    width: 33.3333%
}
div.disp-header {
    overflow: hidden;
}
nav.disp-nav {
    overflow: hidden;
    padding-bottom: 1em;
}
div.disp-toc-header {
    text-align: center;
}
#main div.disp-toc-header h1 {
    font-size: 180%;
    color: #000;
}
#main h1.disp-toc-head{ 
    color: #000;
    font-weight: normal;
}
div.pf.w0 {
    margin-bottom: 1em;
}
#main p.notice-alert {
    color: red;
    font-weight: bold;
}
p.citation{
    font-style:italic;
}
